@import "global.css";

.profile {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 70px 40px;
  position: relative;
  width: 500px;
  margin-left: 25%;
}

section.info {
  display: flex;
  flex-direction: row;
}

div.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0;
  border: 2px solid black;
  padding: 10px;
}
article.about-me {
  width: 70%;
  padding: 10px;
  text-align: justify;
  font-size: 13px;
}

section.info img {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  border: 3px solid rgb(0, 0, 0);
}
/* section h2 {
  position: absolute;
  top: 0;
  right: 30px;
} */

.button-box img {
  height: 30px;
  width: 30px;
  padding: 10px;
}
div .button-box {
  display: flex;
  flex-direction: row;
  border-width: 2px;
}
div.dark-mode {
  display: flex;
  justify-content: space-between;
}
div button {
  width: 100px;
  height: 50px;
  border-color: #b6a9ec;
  border-radius: 4px;
}

div.settings {
  padding: 40px;
  text-align: justify;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:checked + .slider:before {
  left: 30px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
